{% extends 'base.html' %}
{% load staticfiles %}

{% block extra_styles %}
    <style type="text/css">
        .hidden.menu {
            display: none;
        }

        .masthead .logo.item img {
            margin-right: 1em;
        }

        .masthead .ui.menu .ui.button {
            margin-left: 0.5em;
        }

        .masthead h2 {
            font-size: 1.7em;
            font-weight: normal;
        }

        .ui.vertical.stripe h3 {
            font-size: 2em;
        }

        .ui.vertical.stripe .button + h3,
        .ui.vertical.stripe p + h3 {
            margin-top: 3em;
        }

        .ui.vertical.stripe p {
            font-size: 1.33em;
        }

        .quote.stripe.segment .grid .column {
            padding-top: 5em;
            padding-bottom: 5em;
        }

        .secondary.pointing.menu .toc.item {
            display: none;
        }

        @media only screen and (max-width: 700px) {
            .ui.fixed.menu {
                display: none !important;
            }

            .secondary.pointing.menu .item,
            .secondary.pointing.menu .menu {
                display: none;
            }

            .secondary.pointing.menu .toc.item {
                display: block;
            }

            .masthead.segment {
                min-height: 350px;
            }

            .masthead h2 {
                margin-top: 0.5em;
                font-size: 1.5em;
            }
        }
    </style>
{% endblock %}

{% block content %}
    <!-- Following Menu -->
    <div class="ui large top fixed hidden menu">
        <div class="ui container">
            <a class="active item">Home</a>
            <a class="item">Public Portfolios</a>
            <div class="right menu">
                <div class="item">
                    <a href="{% url 'logout' %}" class="ui button">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Sidebar Menu -->
    <div class="ui vertical inverted sidebar menu">
        <a class="active item">Home</a>
        <a class="item">Public Portfolios</a>
        <a class="item" href="{% url 'logout' %}">Logout</a>
    </div>


    <!-- Page Contents -->
    <div class="pusher">
    <div class="ui inverted vertical masthead center aligned segment">

        <div class="ui container">
            <div class="ui large secondary inverted pointing menu">
                <a class="toc item">
                    <i class="sidebar icon"></i>
                </a>
                <a class="active item">Home</a>
                <a class="item">Public Portfolios</a>
                <div class="right item">
                    <a class="ui inverted button" href="{% url 'logout' %}">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <div class="ui container" style="margin-top: 1rem;">
        <div class="row" style="padding: 1rem;">
            <button class="large primary ui labeled icon button">
                <i class="cloud upload icon"></i>
                Upload Photo
            </button>
        </div>

        <div class="ui three column doubling centered grid container content-cards" style="display: none;">
        </div>

        <div class="ui warning message empty-files" style="display: none;">
            <div class="header">
                You do not have any photo uploaded
            </div>
            Try uploading some picture
        </div>

        <div class="ui active inverted dimmer loading">
            <div class="ui indeterminate text loader">Preparing Files</div>
        </div>
    </div>


    <div class="ui modal full-size">
        <i class="close icon"></i>
        <div class="header">
            Full Size Image
        </div>
        <div class="image content">
            <div class="ui centered image full-image-modal">
            </div>
        </div>
        <div class="actions">
            <div class="ui positive right labeled icon button">
                Ok
                <i class="checkmark icon"></i>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_scripts %}
    <script src="{% static 'js/moment.js' %}"></script>
    <script>
        const urls = {
            fileList: '{% url "api-file-list" %}',
            removeFile: '{% url "api-remove-file" %}'
        };
    </script>
    <script src="{% static 'js/index.js' %}"></script>
{% endblock %}